
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

.area_info{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.about_div{
    position: relative;
}
.img_text{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    bottom: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
left: 50px;
font-size: 8rem;
position: absolute;
font-family: "Playwrite MX", cursive;


}
.about_div:hover .img_text{
   opacity: 1;
}
